# Node/Frontend
node_modules/
dist/
.env
.env.local
.env.*.local

# Python/Backend
venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# AI Models & Datasets
*.pt
*.onnx
runs/
dataset/
img/

# OS/IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
